body {
    margin: 0;
    background-image: url('images/Professional-Live-Blackjack.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.heading {
    color: goldenrod;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-container {
    width: 220px;
    display: flex;
    justify-content: space-between;
}

#message-element {
    font-style: italic;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#total-score {
    padding: 20px;
    text-align: left;
}

button {
    width: 200px;
    margin-top: 20px;
    padding: 8px;
    font-size: 22px;
    background-color: goldenrod;
    color: white;
    border: 0;
    border-radius: 5cqb;
}

button:hover {
    background-color: gold;
}